
extends layout/app.pug

block content
	div(class="py-10 bg-white my-12 py-12")
		div(class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8")
			div.py-2(class="sm:text-center lg:text-center")
				img(class="flex justify-center mx-auto" src="./img/icon.png" alt="RubyNight Logo")
				h1(class='sm:text-4xl mt-2 text-3xl leading-8 text-dark-900') Welcome to RubyNight
				p(class="text-base text-pink-600 font-semibold") The web framework for night owls
				br
				div(class="mx-10 pt-15 bg-white")
					div(class="grid gap-6 mb-8 md:grid-cols-2")
						div(class="min-w-0 p-4 rounded-lg shadow-xs ")
							a(href="docs")
								h3(class="text-purple-800 dark:text-text-gray-300") Documentation
						div(class="min-w-0 p-4 bg-white rounded-lg shadow-xs")
							a(href="news")
								h3(class="text-purple-800 dark:text-text-gray-300") News
						div(class="min-w-0 p-4 bg-white rounded-lg shadow-xs")
							a(href="community")
								h3(class="text-purple-800 dark:text-text-gray-300") Community
						div(class="min-w-0 p-4 bg-white rounded-lg shadow-xs")
							a(href="tutorials")
								h3(class="text-purple-800 dark:text-text-gray-300") Tutorials
		p.px-4.float-right Version #{$version}

