doctype html
html(lang="en")
	head
		title RubyNight
		block styles
 		link(rel="stylesheet" type="text/css" href='public/css/styles.css')
	body
    	main
    		block content

		footer
			block scripts