doctype html
html(lang="en")
	head
		title RubyNight
		block styles
 		link(rel="stylesheet" type="text/css" href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css')
	body
    	main.container.mx-auto.px-12
    		block content

		footer
			block scripts