doctype html
html(lang="en")
	head
		title RubyNight
		block styles
 		link(rel="stylesheet" type="text/css" href='./css/styles.css')
	body.min-h.bg-gray-100
    	main.container.mx-auto.px-12
    		block content

		footer
			block scripts