doctype html
html(lang="en")
	head
		title Fragment Framework
		block styles
 		link(rel="stylesheet" type="text/scss" href='./scss/styles.css')
	body.min-h.bg-gray-100
    	main.container.mx-auto.px-12
    		block content

		footer
			block scripts